/* Remove top padding and margin from first child so that top of rendered text is aligned to top of text editor text */
p,h1,h2,h3,h4,h5,h6,ul,table {
  margin-bottom: 1.35em;
}

h1,h2,h3,h4,h5,h6,ul,table {
  margin-bottom: 0.65em;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.5em;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;

}

h2 {
  font-size: 1.3em;
  font-weight: bold;

}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

h4,h5,h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
	font-size: 1em;
}

.exported-note-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.8em;
  line-height: 1.5em;
  border-bottom: 1px solid #dddddd;
}

a {
  color: #155BDA;
}

ul,ol {
  padding-left: 0;
  margin-left: 1.7em;
}

li {
  margin-bottom: .4em;
}

li p {
  margin-top: 0.2em;
  margin-bottom: 0;
}



blockquote {
  border-left: 4px solid rgb(220, 220, 220);
  padding-left: 1.2em;
  margin-left: 0;
}

hr {
  border: none;
  border-bottom: 2px solid #dddddd;
}



/* For styling the rendered Markdown */
body,th,td,.inline-code {
  font-size: 18px;
}

h1 {
  background-color: #46515c;
  color: white;
}