<?xml version="1.0" encoding="utf-8"?>
<EasyPubConfig>
  <XMLVersion>2</XMLVersion>
  <!--阅读器字体配置文件名-->
  <eReadersConfig>ereaders.xml</eReadersConfig>
  <!---
	预定义正则表达式
	AdditionalReg: “预定义标题->附加表达式”的下拉选项  
	FullReg: “正则表达式”的下拉选项  
        可自行按格式添加修改
	-->
  <MyRegExp>
    <AdditionalReg>
      <data>^\s*(简介|序言|序[1-9]|序曲|简介|后记|尾声)</data>
      <data>^\s*(前言|自序|附录)</data>
    </AdditionalReg>
    <FullReg>
      <data>^\s*[第卷][0123456789一二三四五六七八九十零〇百千两]*[章回部节集卷].*</data>
      <data>^\s*Chapter\s*[0123456789]*</data>
    </FullReg>
  </MyRegExp>
  <!--   
	 上次的选择 
	 -->
  <RecentOptions>
    <splitmode>0</splitmode>
    <splitcount>1</splitcount>
    <top>0</top>
    <bottom>0</bottom>
    <left>0</left>
    <right>0</right>
    <lineheight>125</lineheight>
    <fontsize>120</fontsize>
    <indent>0</indent>
    <margintop>5</margintop>
    <removeblankline>1</removeblankline>
    <fonttype>0</fonttype>
    <machineid>0</machineid>
    <font_customized>
    </font_customized>
    <font_embedded>
    </font_embedded>
    <font_subsetting>0</font_subsetting>
    <editor>notepad.exe</editor>
    <outputfolder>
    </outputfolder>
    <cssoverwrite>0</cssoverwrite>
    <forcetextcover>1</forcetextcover>
    <addspace>1</addspace>
    <savecss>1</savecss>
    <simple_reg_p1>第</simple_reg_p1>
    <simple_reg_p2>0</simple_reg_p2>
    <simple_reg_p3>章</simple_reg_p3>
    <simple_reg_ext>
    </simple_reg_ext>
    <full_reg>
    </full_reg>
    <simple_reg_leadingspace>1</simple_reg_leadingspace>
    <textalign>0</textalign>
    <addspacecount>2</addspacecount>
    <posx1>799</posx1>
    <posy1>483</posy1>
    <posx2>200</posx2>
    <posy2>200</posy2>
    <automark>-5</automark>
    <coverstyle>0</coverstyle>
    <titlefont>50</titlefont>
    <authorfont>25</authorfont>
    <pagetopunit>0</pagetopunit>
    <pagebottomunit>0</pagebottomunit>
    <pageleftunit>0</pageleftunit>
    <pagerightunit>0</pagerightunit>
    <margintopunit>0</margintopunit>
  </RecentOptions>
  <!--   
	 高级选项 
	 -->
  <AdvancedOptions>
    <silentmode>0</silentmode>
    <enable_htmlrawtag>0</enable_htmlrawtag>
    <htmlrawtag>##</htmlrawtag>
    <enable_tempdir>0</enable_tempdir>
    <tempdir>
    </tempdir>
    <flowsize>200</flowsize>
    <screenwidth>540</screenwidth>
    <screenheight>720</screenheight>
    <coverstyle>0</coverstyle>
    <tocspace>0</tocspace>
    <forceemptychapter>1</forceemptychapter>
    <outputformat>0</outputformat>
    <mobistrip>1</mobistrip>
    <mobisync>1</mobisync>
    <asinstyle>0</asinstyle>
    <mobiasin>
    </mobiasin>
    <kindlegenexe>kindlegen_v2.9.exe</kindlegenexe>
    <kindlegencompress>1</kindlegencompress>
    <kindlegenoption>
    </kindlegenoption>
    <mobiperiodical>0</mobiperiodical>
    <mobiforceen>0</mobiforceen>
    <mobiformat>0</mobiformat>
    <outputtosrc>0</outputtosrc>
    <emptychapterstyle>1</emptychapterstyle>
    <alwaysontop>0</alwaysontop>
  </AdvancedOptions>
</EasyPubConfig>